html {
    font-size: 62.5%;
  }

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr repeat(5, 1fr);
  grid-template-areas:
  "header header header header header"
  "nav nav nav nav nav"
  "main main main main sidebar"
  "footer footer footer footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}