/* General styles */

html {
    font-size: 62.5%;
  }

body {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "header header header header header"
  "nav nav nav nav nav"
  "main main main main sidebar"
  "footer footer footer footer footer";
  background-color: #FFF9EE;
  font-family: "Poppins", sans-serif;
  gap: 10px;
}

/* Header */

header {
  grid-area: header;
  justify-self: center;
  align-self: center;
  grid-row: 1;
  margin-top: 50px;
}

header img {
  width: 500px;
}

/* Nav */

nav {
  grid-area: nav;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 80px;
}

nav a {
  text-decoration: none;
  color: #13304A;
  font-size: 2.2rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

/* main content */

main {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.section-1 {
  place-self: center;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 3.6rem;
}

.section-1 p {
  font-size: 1.6rem;
  padding-right: 25px;
}

.section-1-image {
  display: grid;
  place-self: center;
}

#main {
  width: 100px;
}

.section-2 {
  place-self: center;
}

.section-2 h2 {
  font-size: 2.6rem;
  font-weight: 300;
  text-align: center;
}

.section-2 p {
  font-size: 1.6rem;
  padding-right: 25px;
}

.section-2-image {
  display: grid;
  place-self: center;
}

#image-2 {
width: 850px;
padding-bottom: 15px;
}

/* Sidebar */

aside {
  grid-area: sidebar;
  background-color: #BEE0EE;
  padding: 15px;
  border-radius: 5px;
  padding-bottom: 20px;
  align-self: center;
  grid-row-start: 2;
  grid-row-end: 5;
}

aside img {
  width: 250px;
  height: auto;
  border-radius: 5px;
}

aside h3 {
  font-weight: 400;
  font-size: 2.8rem;
  text-align: center;
}

aside p {
  font-size: 1.4rem;
}

aside a {
  text-decoration: none;
  text-transform: uppercase;
  color: #13304A;
}

/* footer */

footer {
  grid-area: footer;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: #97A989;
}

footer img {
  width: 100px;
}